In [32]:
from sympy import I, Sum, exp, pi
from sympy.abc import n,k,x
import pandas as pd

In [33]:
summation = Sum(exp(-2*pi*I*k*x/16+I*2*pi*k*n/16),(k,0,15)).doit()

In [34]:
data=[ summation.subs({x: 1/4, n: i}).doit().evalf() for i in range(0,16)]

In [43]:
df = pd.DataFrame({'n': range(0,16), 'Coefficent y_n': data})

In [44]:
df

     n                            Coefficent y_n
0    0     10.6777338124936 - 9.67773381249359*I
1    1    -2.87072620270749 + 3.87072620270749*I
2    2   -0.897406386245238 + 1.89740638624524*I
3    3   -0.334199602791754 + 1.33419960279175*I
4    4  -0.0516649878667378 + 1.05166498786674*I
5    5   0.129174726863982 + 0.870825273136018*I
6    6     0.26351761205434 + 0.73648238794566*I
7    7   0.374756519904347 + 0.625243480095653*I
8    8   0.475436575115266 + 0.524563424884734*I
9    9   0.574167993769174 + 0.425832006230826*I
10  10   0.678902860657262 + 0.321097139342738*I
11  11   0.799688466840962 + 0.200311533159038*I
12  12  0.953173584509574 + 0.0468264154904264*I
13  13     1.17417195674336 - 0.17417195674336*I
14  14     1.55716117877432 - 0.55716117877432*I
15  15     2.49611189188504 - 1.49611189188504*I